@model Demo1.Models.JobListing

@{
    ViewData["Title"] = "Delete Job";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JobListing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredQualifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredQualifications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationDeadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationDeadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

<style>

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Màu nền của footer */
    color: #fff; /* Màu chữ của footer */
    text-align: center;
    padding: 20px 0; /* Khoảng cách giữa nội dung và viền của footer */
}

/* CSS cho form */
.form-container {
    margin-top: 20px; /* Khoảng cách giữa nội dung chính và form */
}

/* CSS cho nút Delete */
.btn-danger {
    margin-right: 10px; /* Khoảng cách giữa nút Delete và nút Back */
}
</style>
